.login {
    &__screen {
        display: flex;
        justify-content: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 18%;
        height: 100vh;
    }

    &__logo {
        width: 10%;
    }
}
