@use "@sass/colors" as colors;

.sidebar_button {
    margin-top: 5px;
    font-size: 20px;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
    color: white;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: rgba(24, 25, 25, 0.9);
    }

    &--active {
        font-weight: 700;
    }
}
