@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.p1-r {
    font-family: "Public Sans", "Segoe UI";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.p1-b {
    font-family: "Public Sans", "Segoe UI";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

.p2-r {
    font-family: "Public Sans", "Segoe UI";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.p3-r {
    font-family: "Public Sans", "Segoe UI";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
