@use "@sass/colors" as colors;

.forgot_password {
    &__container {
        min-width: 440px;
        justify-items: stretch;

        p {
            color: colors.$gray;
            margin-bottom: 30px;
        }
    }

    &__button {
        margin-top: 72%;
        padding: 16px;
        font-size: 18px;
    }
}
